.section {
    display: block;
    margin-top: 45px;
}

.section__header {
    display: inline;
}

.section__paragraph {
    color: #131e5e;
}

.section__profilePicture {
    margin: 0 auto;
}

.section__yogaPicture {
    padding: 20px 0px;
}

.section__subHeader {
    color: indianred;
}